<div class = "calculator_centering">
    <div class = "calculator">
        <div class = "display">{{current_result}}</div>
        <div class = "buttons">
            <button class = "functions" style="font-size: 18px;" (click) = "special('percent')">%</button>
            <button class = "functions" (click) = "clear_all()">CE</button>
            <button class = "functions" (click) = "clear_all()">C</button>
            <button class = "functions" (click) = "erase_one_number()">⌫</button>

            <button class = "functions" (click) = "special('inverse')">1/𝑥</button>
            <button class = "functions" (click) = "special('square')">𝑥²</button>
            <button class = "functions" (click) = "special('sqrt')">²√𝑥</button>
            <button class = "operations" (click) = "operator_pressed('/')">÷</button>

            <button class = "numbers" (click) = "update_display('7')">7</button>
            <button class = "numbers" (click) = "update_display('8')">8</button>
            <button class = "numbers" (click) = "update_display('9')">9</button>
            <button class = "operations" (click) = "operator_pressed('*')">×</button>

            <button class = "numbers" (click) = "update_display('4')">4</button>
            <button class = "numbers" (click) = "update_display('5')">5</button>
            <button class = "numbers" (click) = "update_display('6')">6</button>
            <button class = "operations" (click) = "operator_pressed('-')">-</button>

            <button class = "numbers" (click) = "update_display('1')">1</button>
            <button class = "numbers" (click) = "update_display('2')">2</button>
            <button class = "numbers" (click) = "update_display('3')">3</button>
            <button class = "operations" (click) = "operator_pressed('+')">+</button>

            <button class = "functions" (click) = "switch_sign()">+/-</button>
            <button class = "numbers" (click) = "update_display('0')">0</button>
            <button class = "numbers" (click) = "dot_pressed()">.</button>
            <button class = "equal" (click) = "equal_pressed()">=</button>
        </div>
    </div>
</div>